.container {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.text {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.02em;
  color: var(--primary);
}

.point {
  font-weight: 500;
  color: var(--green);
}

.point.green {
  color: var(--green);
}

.point.blue {
  color: var(--blue);
}

.point.yellow {
  color: var(--yellow);
}

.accent {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.02em;
  color: var(--green);
}

.accent.green {
  color: var(--green);
}

.accent.blue {
  color: var(--blue);
}

.accent.yellow {
  color: var(--yellow);
}
