.btn {
  width: 100%;
  border-radius: 30px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.01em;
}

.btn.primary {
  color: var(--secondary);
  background-color: var(--green);
  transition: background-color 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

.btn.primary.green {
  background-color: var(--green);
}

.btn.primary.blue {
  background-color: var(--blue);
}

.btn.primary.yellow {
  background-color: var(--yellow);
}

.btn.primary.blue:hover {
  background-color: var(--blue-accent);
}

.btn.primary.green:hover {
  background-color: var(--green-accent);
}

.btn.primary.yellow:hover {
  background-color: var(--yellow-accent);
}

.btn.secondary {
  border: 1px solid rgba(25, 26, 21, 0.2);
  background-color: transparent;
  color: var(--primary);
  transition: border-color 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

.btn.secondary.green:hover {
  border-color: var(--green);
}

.btn.secondary.blue:hover {
  border-color: var(--blue);
}

.btn.secondary.yellow:hover {
  border-color: var(--yellow);
}

.btnContent {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 18px;
}

.iconContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15px;
  height: 17px;
}

.icon {
  fill: var(--secondary);
  transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover .icon {
  transform: rotate(53deg);
  width: 20px;
}
