.container {
  width: 120px;
  height: 120px;
  padding: 12px;
  display: flex;
  border-radius: 30px;
  border: 2px solid var(--light-green);
  background-color: transparent;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}

.img {
  border-radius: 15px;
  width: 96px;
  height: 96px;
  background: #e0e0e0;
}

.container.yellow {
  border-color: var(--light-yellow);
}

.container.green {
  border-color: var(--light-green);
}

.container.blue {
  border-color: var(--light-blue);
}

.onlineMarker {
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 50%;
  width: 14px;
  height: 14px;
  background-color: transparent;
  border: 2px solid var(--white);
}

.onlineMarker::after {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--price);
  display: block;
  margin: 1px auto;
}
